.tile {
  background: linear-gradient(
      0deg,
      rgba(97, 211, 255, 0.15),
      rgba(97, 211, 255, 0.15)
    ),
    linear-gradient(
      332.27deg,
      rgba(255, 255, 255, 0.062) 11.8%,
      rgba(255, 255, 255, 0.094) 41.03%,
      rgba(255, 255, 255, 0.0604125) 41.04%,
      rgba(255, 255, 255, 0) 105.19%
    ),
    #14133a;
  border: 2.65473px solid rgba(255, 255, 255, 0.19);
  box-sizing: border-box;
  box-shadow: inset -0.88491px -0.88491px 3.53964px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(70.7928px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30.35px;
  padding: 30px 50px;
  width: 370px;
}

.heading {
  font-size: 30px;
  font-family: StarforgeRegular;
  max-width: 250px;
  line-height: 35px;
  margin-bottom: 10px;
}
.border {
  border: 2px solid #61d3ff;
  border-radius: 20px;
}
.subHeading {
  color: #fff;
  display: flex;
  font-family: Prototype;
  font-size: 15px;
  margin: 15px 0;
}
.subHeading > img {
  margin-right: 10px;
}

@media screen and (max-width: 1140px) {
  .tile {
    margin-top: 30px;
  }
}

@media screen and (max-width: 712px) {
  .border {
    border: 1px solid #61d3ff;
  }
  .tile {
    width: 100%;
    padding: auto 20px;
    margin-top: 10px;
  }

  .heading {
    font-size: 20px;
  }
  .subHeading {
    font-size: 10px;
    margin: 15px 0;
  }
  .subHeading > img {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 512px) {
  .heading {
    line-height: 18px;
  }
  .border {
    border: 1px solid #61d3ff;
  }
  .tile {
    width: 100%;
    margin-top: 5px;
    padding: 20px 20px;
    max-width: 205px;
  }

  .heading {
    font-size: 20px;
  }
  .subHeading {
    font-size: 9px;
    margin: 5px 0;
  }
  .subHeading > img {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 425px) {
  .subHeading {
    margin: 4px 0;
  }
}
