.cardWrapper {
  position: relative;
  width: 192px;
  height: 192px;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 14px;
  margin-bottom: 90px;
}
.card {
  position: absolute;
  width: 177px;
  height: 177px;
  /* border: 2.65473px solid rgba(255, 255, 255, 0.19); */
  box-sizing: border-box;
  /* box-shadow: inset -0.88491px -0.88491px 3.53964px rgba(255, 255, 255, 0.25); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cardImage {
  overflow: hidden;
}
.card > img {
  /* max-height: 100%; */
}

.cardButton {
  position: absolute;
  bottom: -14%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardButtonText {
  position: absolute;
  font-family: "prototype";
  font-size: 1.2213rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #e45404;
}

.cardButtonAlien {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -125px;
}
.cardButtonAlienText {
  position: absolute;
  font-family: "prototype";
  font-size: 1.0625rem;
  line-height: 2.0625rem;
  color: #913400;
}
@media screen and (max-width: 1150px) {
  .cardWrapper {
    width: 172px;
    height: 172px;
  }
  .card {
    width: 157px;
    height: 157px;
  }
}

@media screen and (max-width: 800px) {
  .cardWrapper {
    width: 172px;
    height: 172px;
  }
  .card {
    width: 157px;
    height: 157px;
  }

  .cardButton {
    bottom: -20%;
  }
}

@media screen and (max-width: 680px) {
  .cardWrapper {
    width: 162px;
    height: 162px;
  }
  .card {
    width: 147px;
    height: 147px;
  }
}

@media screen and (max-width: 570px) {
  .cardWrapper {
    width: 118px;
    height: 118px;
    margin: 40px 8px;
  }
  .card {
    width: 107px;
    height: 107px;
  }
}
